edit:
  command: "nvim"

{{ if eq .chezmoi.os "windows" }}
cd:
  command: "pwsh.exe"
{{ end }}

{{/* shell detect */}}
{{ $shell := "bash" }}
{{ if eq .chezmoi.os "windows" }}
  {{ $shell = "pwsh" }}
{{ else }}
  {{ $detect_shell := env "SHELL" | base }}
  {{ if and (ne $detect_shell "") (ne $detect_shell ".") }}
    {{ $shell = $detect_shell }}
  {{ else }}
    {{ $shells := list "bash" "zsh" }}
    {{ $shell = promptChoiceOnce . "shell" "What type of shell are you on" $shells "bash" }}
  {{ end }}
{{ end }}

data:
  shell: {{ $shell }}
