{{ template "profile.sh" .}}
{{ if eq .chezmoi.os "darwin" }}
# JetBrains Toolbox
if [ -d "$HOME/Library/Application Support/JetBrains/Toolbox/scripts" ]; then
    export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"
fi

# Python (python.org installer)
# mise で管理する Python と競合しないよう PATH の末尾に追加する
if [ -d "/Library/Frameworks/Python.framework/Versions/Current/bin" ]; then
    export PATH="$PATH:/Library/Frameworks/Python.framework/Versions/Current/bin"
fi
{{ end }}
