#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
  if ! mise="$(command -v mise)"; then
    curl https://mise.run | sh
  fi
  {{ range .mise }}
    mise install {{ .tool }}@{{ .version }}
    {{ if hasKey . "use" }}
      mise use {{ if eq .use "global" }} -g {{ end }} {{ .tool }}@{{ .version }}
    {{ end }}
  {{ end }}
{{ end }}
